p{
    width: 50%;
    margin: 0 auto;
    text-align: left;
}

img{
    margin: 0 auto;
    width: 30%;
    height: 30%;
}

.reflections{
    width: 50%;
    margin: 0 auto;
    text-align: left;
}